<!-- Каталог товаров --> 
<div class="items_present">
  <h2>Выберите кабельную группу</h2>
  <div class="items_prew">
    <ul>
      <li><a href="#"><img src="images/provod/VVG.jpg" width="45" height="45"><span class="top_item_link">Кабель силовой с ПВХ изоляцией (медный)</span> <span class="bottom_item_link">NYM-J, ВВГ, ВВГнг, ВВГнг-LS, ВВГЭНГ</span></a></li>
      <li><a href="#"><img src="images/provod/AVBBSHV.jpg" width="45" height="45"><span class="top_item_link">Кабель силовой с ПВХ изоляц (алюмин/брониров)</span> <span class="bottom_item_link">АВВБ, АВВБГ, АВБбШв, АВВБГ, АВБбШнг</span></a></li>
      <li><a href="#"><img src="images/provod/ASBL.jpg" width="45" height="45"><span class="top_item_link">Кабель силовой с бумаж пропит изоляц (алюмин)</span> <span class="bottom_item_link">АСБ, АСБл, АСБ2л, ААБл, ААБлГ, АСБ2л</span></a></li>
      <li><a href="#"><img src="images/provod/silovoi_rezina.jpg" width="45" height="45"><span class="top_item_link">Кабель силовой гибкий в резиновой изоляции</span> <span class="bottom_item_link">АВРГ, ВРГ, КГ-660, КГН, РПШ</span></a></li>
      <li><a href="#"><img src="images/provod/SPOV.jpg" width="45" height="45"><span class="top_item_link">Кабель судовой</span> <span class="bottom_item_link">КНР, КМПВ, СПОВ, НРШМ</span></a></li>
      <li><a href="#"><img src="images/provod/kabel_upravleniya.jpg" width="45" height="45"><span class="top_item_link">Кабель управления</span> <span class="bottom_item_link">КПВ, КУПЭВ, КУПР, КРШУ, КРШС, КУПВ, КУПЭВнг-LS</span></a></li>
      <li><a href="#"><img src="images/provod/kabel_visokochastotnii.jpg" width="45" height="45"><span class="top_item_link">Кабель симметричный высокочастотный</span> <span class="bottom_item_link">МКСБ, МКСАШП, МКСАБП, МКСК</span></a></li>
      <li><a href="#"><img src="images/provod/provada_vivodnie.jpg" width="45" height="45"><span class="top_item_link">Провода выводные</span> <span class="bottom_item_link">ПВКВ, РКГМ, ВПП</span></a></li>
      <li><a href="#"><img src="images/provod/provoda_avtomobilnie.jpg" width="45" height="45"><span class="top_item_link">Провода автомобильные</span> <span class="bottom_item_link">ПГВА, ПГВАЭ, ПГВАД, ПВГАБ</span></a></li>
      <li><a href="#"><img src="images/provod/provoda_svjazi.jpg" width="45" height="45"><span class="top_item_link">Провода связи</span> <span class="bottom_item_link">ПРППМ, ПТПЖ, ПКСВ, П 274м, ПВЖ, ПТВЖ, ПРПВМ, ППЖ</span></a></li>
      <li><a href="#"><img src="images/provod/provoda_dlja_geofizicheskih_rabot.jpg" width="45" height="45"><span class="top_item_link">Провода для геофизических работ</span> <span class="bottom_item_link">ГСП, ГПМП, ГПСМП, ГПСМПО</span></a></li>
      <li><a href="#"><img src="images/provod/provod_termoelektrodnii.jpg" width="45" height="45"><span class="top_item_link">Провод термоэлектродный</span> <span class="bottom_item_link">ПТФ, ПТВ ХК, ПТФЭ, СФКЭ-ХА, КМТВ-ХК, СФКЭ-ХК, КМТВЭВ-М</span></a></li>
      <li><a href="#"><img src="images/provod/AVVG.jpg" width="45" height="45"><span class="top_item_link">Кабель силовой с ПВХ изоляцией (алюмин)</span> <span class="bottom_item_link">АВВГ, АВВГнг, АВВГнг-ls, АВВГз, АВВ</span></a></li>
      <li><a href="#"><img src="images/provod/APVP.jpg" width="45" height="45"><span class="top_item_link">Кабель силовой с изоляцией из сшитого полиэтилена (алюмин)</span> <span class="bottom_item_link">АПвП, АПвПу, АПвПу2г, АПвВг, АПвВнг</span></a></li>
      <li><a href="#"><img src="images/provod/1222.jpg" width="45" height="45"><span class="top_item_link">Кабель силовой с бумаж пропитанной изоляц(медн)</span> <span class="bottom_item_link">СБ, СБл, СБГ, СБ2л, СБ2лГ, СБГ, ЦСБГ</span></a></li>
      <li><a href="#"><img src="images/provod/AKVVG.jpg" width="45" height="45"><span class="top_item_link">Кабель контрольный (алюмин)</span> <span class="bottom_item_link">АКВВГ, АКВВГнг, АКВВГнг-LS, АКВВГЭнг-LS, АКВБбШв</span></a></li>
      <li><a href="#"><img src="images/provod/kabel_mestnoi_svjazi.jpg" width="45" height="45"><span class="top_item_link">Кабель местной связи</span> <span class="bottom_item_link">КСПП, КСПЗП, КСППБ, КСПЗПБ, ЗКАШп, ЗКП, ЗКАБп</span></a></li>
      <li><a href="#"><img src="images/provod/kabel_telefonnii.jpg" width="45" height="45"><span class="top_item_link">Кабель телефонный</span> <span class="bottom_item_link">ТПП, ТППЭП, ТППЭПз, ТРП, ТПВ, ТПВнг, ТППЭПзБ, ТРВ, ТППЭПБ</span></a></li>
      <li><a href="#"><img src="images/provod/provada_montazhnie.jpg" width="45" height="45"><span class="top_item_link">Кабель монтажный универc</span> <span class="bottom_item_link">НВ, HВM, НВЭ, НВМЭ, МНВ, МГШВ, МКЭШ, КУИН, СОББИТ</span></a></li>
      <li><a href="#"><img src="images/provod/provoda_avicionnie.jpg" width="45" height="45"><span class="top_item_link">Провода авиационные</span> <span class="bottom_item_link">БПВЛ, БПДО, БИФ, БПВЛЭ, БПДОЭ, БИФЭз, БИН, БИФ, БФС</span></a></li>
      <li><a href="#"><img src="images/provod/provoda_izolirovannie.jpg" width="45" height="45"><span class="top_item_link">Провода изолированные для воздушных линий</span> <span class="bottom_item_link">СИП 2, СИП 3, СИП 1, СИП 2а</span></a></li>
      <li><a href="#"><img src="images/provod/provoda_obmotochnie.jpg" width="45" height="45"><span class="top_item_link">Провода обмоточные</span> <span class="bottom_item_link">ПЭТ 155, ПСДКТ, ПЭТВ 1, ПСДТ, ПВДП, ПОЖ, ПЭШО, ПБД</span></a></li>
      <li><a href="#"><img src="images/provod/provod_nagrevatelnii.jpg" width="45" height="45"><span class="top_item_link">Провод прогревочный</span> <span class="bottom_item_link">ПНСВ, ПГПЖ, ПНПЖ, ПНПЖч, ПНВЖ</span></a></li>
      <li><a href="#"><img src="images/provod/VBBSHV.jpg" width="45" height="45"><span class="top_item_link">Кабель силовой с ПВХ изоляц (медн/бронир)</span> <span class="bottom_item_link">ВБбШв, ВБбШнг, ВБбШнг-ls, ВБбШвнг-ls</span></a></li>
      <li><a href="#"><img src="images/provod/PVP.jpg" width="45" height="45"><span class="top_item_link">Кабель силовой с изоляц из полиэтилена (медь)</span> <span class="bottom_item_link">ПвВнг-LS, ПвПу2г, ПвПуг, ПвВГ, ПвБбШп</span></a></li>
      <li><a href="#"><img src="images/provod/POLIM.jpg" width="45" height="45"><span class="top_item_link">Кабель с изоляц и оболоч из полимер композиций</span> <span class="bottom_item_link">ППГнг-HF, ПвПнг-HF, ПвПнг-FRHF</span></a></li>
      <li><a href="#"><img src="images/provod/KVVG.jpg" width="45" height="45"><span class="top_item_link">Кабель контрольный (медный)</span> <span class="bottom_item_link">КВВГ, КВВГнг, КВВГнг-LS, КВВГЭнг, КВВГЭнг-LS</span></a></li>
      <li><a href="#"><img src="images/provod/baraban.jpg" width="45" height="45"><span class="top_item_link">Кабельные барабаны</span> <span class="bottom_item_link">Продажа кабельных барабанов от производителя</span></a></li>
      <li><a href="#"><img src="images/provod/kabel_nizkochastotnii.jpg" width="45" height="45"><span class="top_item_link">Кабель симметричный низкочастотный</span> <span class="bottom_item_link">ТЗГ, ТЗБ, ТЗБГ, ТЗПАШп</span></a></li>
      <li><a href="#"><img src="images/provod/provod_soedinitelnii.jpg" width="45" height="45"><span class="top_item_link">Провода соединительные</span> <span class="bottom_item_link">ПВС, ШВВП, ПРС, ШВП, ПРМ, ПСГ, ШР, ШРО, ПВСП, ШПС</span></a></li>
      <li><a href="#"><img src="images/provod/provoda_dlja_podvizhnogo-sostava.jpg" width="45" height="45"><span class="top_item_link">Провода для подвижного состава</span> <span class="bottom_item_link">ПС, ППСРВМ, ППСРМ, КПСРМ, ПРМТ, ППСВ, КПСРВМ</span></a></li>
      <li><a href="#"><img src="images/provod/provod_ustanovochnii.jpg" width="45" height="45"><span class="top_item_link">Провода установочные</span> <span class="bottom_item_link">ПВ3, АПВ, ПВ1, ППВ, АППВ, ПРКА, ПВ2, ПВ4, ПВ1</span></a></li>
      <li><a href="#"><img src="images/provod/provoda_neizolirovannie.jpg" width="45" height="45"><span class="top_item_link">Провода неизолированные</span> <span class="bottom_item_link">М, А, АС, МФ, МГ, АМГ, ПМЛ, МА, ПСО, МФ, АМГЛ, ПЩ</span></a></li>
      <li><a href="#"><img src="images/provod/provod_termostoikii.jpg" width="45" height="45"><span class="top_item_link">Провод термостойкий</span> <span class="bottom_item_link">ПАЛ, ПВКВ, ПТЛ-200, ПТЛ-250, ПВКФ, ПТЛЭ-200</span></a></li>
    </ul>                         
  </div>
</div>
