<!-- Блок подвал --> 
<footer id="footer_block">
   <div class="counter"><img src="images/count1.jpg" /><img src="images/count2.jpg" /><img src="images/count3.jpg" /></div>
   <div class="copyright">
     Copyright © 2013. All Rights Reserved.<br />Разработка сайта: <b>Alexman&NikSan </b>
   </div>
   <div class="foot_contacts">
     Тел.: <span class="cod">(473)</span> <span class="foot_num">292-42-79</span> <span class="cod">(473)</span> <span class="foot_num">257-39-41</span> <span class="cod">(473)</span> <span class="foot_num">257-39-42</span>
     <address><b>E-mail:</b> <a href="#">vrnelectro@mail.ru</a><br /><b>Адрес:</b> 394026, Россия, г. Воронеж, пр-кт Труда 67, офис 5</address>         
   </div>
</footer>    
